:root{
    --color1: #feffea;
    --color2: #a3de83;
    --color3: #2eb872;
    --color4: #ff5d6e;
    --color5: #ff5d6e;
}

body {
    margin: 0px;
    color: var(--color4);
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    text-align: center;
    
    
}

h1 {
    
    margin: 0 auto 0 auto; /*required to center text,
    as width is applied to a normally full-line block element*/
    font-size: 300%;
}

.top-container {
    background-color: var(--color1);
    position: relative;
    padding-top: 150px;
    
    
}

.middle-container {
    background-color: var(--color2);
    margin: 0;
}

.middle-container-portrait {
    margin-bottom: 200px;
}

.middle-container-roles {
    background-color: var(--color1);
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;  
    
}

.role {
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.8;
  }

.bottom-container {
    background-color: var(--color3);
    width: 100%;
    position: relative;
}


.top-cloud {
    position: absolute;
    top: 70px;
    right: 20%;
    transform: scaleX(-1); /*"-1" flips image horizontally*/
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    transform: scaleX(1); /*"-1" flips image horizontally*/
}


.mountain {
    position: relative; ;
    margin-top: 100px;
    width: 600px;
    right: 0%;
    ;  
}

.portrait {
    position: relative;
    border-radius: 1000px;
    width: 200px;
    margin-top: 100px;
    filter: saturate(140%) contrast(110%);
}

.helloportrait {
    position: relative;
    font-size: 500%;
    font-family: "helvetica", sans-serif;
    font-weight: lighter;
}


.introduction {
    position: relative;
    font-size: 200%;
    font-family: "helvetica", sans-serif;
    font-weight: 0;
    text-align: left;
    margin: 3% 15% 0 33%;
}



.supply {
    position: relative;
    width: 20%;
    border-radius: 1000px;
    transform: scaleX(1); /*"-1" flips image horizontally*/
    filter: saturate(70%);
    float: left;
    margin-right: 30px;
    
}

.laptop {
    position: relative;
    width: 20%;
    border-radius: 1000px;
    transform: scaleX(-1); /*"-1" flips image horizontally*/
    filter: saturate(100%);
    float: right;
    margin-left: 30px;
}

.camera {
    position: relative;
    width: 20%;
    border-radius: 1000px;
    transform: scaleX(-1); /*"-1" flips image horizontally*/
    filter: saturate(70%);
    float: left;
    margin-right: 30px;
}

a {
    color: var(--color1);
}

